<!DOCTYPE html>
<html>
  <script>
    function myFunction() {
      location.reload();
    }
  </script>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is a English page.</p>
  </body>
</html>
